.banner {
  background-image: url("../public/NAVE.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
}
.purpleText {
  color: #8633ff;
  font-weight: 700;
}
.orangeText {
  color: #ff793d;
  font-weight: 700;
}

.dProgs {
  position: relative;
  margin-left: 12rem;
  margin-top: 5rem;
}

.playButton {
  border-radius: 50%;
  position: absolute;
  right: 320px;
  top: 410px;
  display: inline;
}

.asideHeader {
  padding-top: 25rem;
  margin-left: 4rem;
}

.asideHeader::before {
  content: "";
  width: 32px;
  height: 5px;
  margin-left: 55px;
  margin-bottom: 10px;
  display: block;
  background: linear-gradient(90deg, #8633ff 0%, #ff783c 72.4%);
  border-radius: 2px;
}

.asideHeaderP::before {
  content: "";
  width: 32px;
  height: 5px;
  margin-left: 55px;
  margin-bottom: 10px;
  display: block;
  background: linear-gradient(90deg, #8633ff 0%, #ff783c 72.4%);
  border-radius: 2px;
}

.asideHeaderP::after {
  content: "";
  width: 66px;
  height: 5px;
  margin-left: 21px;
  margin-top: 10px;
  display: block;
  background: linear-gradient(90deg, #8633ff 0%, #ff783c 72.4%);
  border-radius: 2px;
}

.asideHeader::after {
  content: "";
  width: 28px;
  height: 5px;
  margin-left: 59px;
  margin-top: 14px;
  display: block;
  background: linear-gradient(90deg, #8633ff 0%, #ff783c 72.4%);
  border-radius: 2px;
}
